<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>諮詢完成</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='style.css') }}"
    />
  </head>
  <body>
    <h2>諮詢完成</h2>
    <!--諮詢表單顯示flash訊息-->
    <!--將message變數的可利用範圍限制在with內。-->
    {% with messages = get_flashed_messages() %} {%if messages%}
    <ul>
      {%for message in messages %}
      <li class="flash">{{message}}</li>
      {%endfor %}
    </ul>
    {%endif %} {% endwith %}
  </body>
</html>
